<div class="card">
    <div class="card-header">
        <h1><%= link_to recipe.title, recipe  %></h1>
    </div>
    <div class="card-body">
        <ul>
        <li><%= recipe.recipe_type.name %></li>
        <li><%= recipe.cuisine.name %></li>
        <li><%= recipe.difficulty %></li>
        <li><%= recipe.cook_time %> minutos</li>
        </ul>
    </div>
</div>