<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">CookBook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active"> <%= link_to( 'Minhas Receitas', root_path, :class => 'nav-link' ) %>  </li>
            <li class="nav-item active"> <%= link_to( 'Cadastrar Receita', new_recipe_path, :class => 'nav-link') %> </li>
            <li class="nav-item active"> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %> </li>
            <li class="nav-item active"> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %> </li>
            <% if current_user.admin? %>
              <li class="nav-item active"> <%= link_to "RecipeTypes", recipe_types_path %> </li>
              <li class="nav-item active"> <%= link_to "Cuisines", cuisines_path %> </li>
            <% end %>
          <% else %>
            <li class="nav-item active"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %></li>
            <li class="nav-item active"><%= link_to "Login", new_user_session_path, :class => 'nav-link'  %></li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cozinhas</a>
            <ul class="dropdown-menu">
              <% Cuisine.all.each do |cuisine| %>
                <li><%= link_to cuisine.name, cuisine_url(cuisine) %></li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipos</a>
            <ul class="dropdown-menu">
              <% RecipeType.all.each do |recipe_type| %>
                <li><%= link_to recipe_type.name, recipe_type_url(recipe_type) %></li>
              <% end %>
            </ul>
          </li>          
        </ul>
        
        <form class="form-inline my-2 my-md-0">
          <%= form_tag( search_recipes_path , method: 'get') do %>
          <div class="form-group">

            <%= text_field_tag(:title, nil, placeholder: 'Busca') %>
          </div>

            <%= submit_tag("Buscar") %>
          <% end %>
        </form>
      </div>
    </nav>