<h1>CookBook</h1>
<p>
'Bem-vindo ao maior livro de receitas online
</p>


<%= form_tag( search_recipes_path , method: 'get') do %>
  <%= label_tag(:title, "Busca") %>
  <%= text_field_tag(:title) %>
  <%= submit_tag("Buscar") %>
<% end %>

<% @recipes.each do |recipe| %>
<%= render recipe %>


<% end %>

<%= link_to 'Ver todas receitas', all_recipes_path %>
<%= link_to 'Enviar uma receita', new_recipe_path %>
