<h1>Novo</h1>

<% if flash[:notice] %>
<div class="alert alert-danger">
  <strong>Aviso!</strong><%= flash[:notice] %>
</div>
<% end %>


<%= form_for @recipe_type do |f| %>

<div>
	<%= f.label :name, 'Nome'%>
	<%= f.text_field :name %>
</div>

<%= f.submit 'Enviar'%>


<% end %>
